{% load static %}

<head>
  <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>タイトル</title>

  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/leaflet.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/leaflet.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
</head>

<body>
  <div class="container-fluid">
    <div class="container">
      <div class="card">
        <h5 class="card-header bg-primary text-white">{{session_name}} さん ようこそ</h5>
        <div class="card-body">
          <div class="center-block">
            <a href="{% url 'matching:map' %}" class="btn btn-primary btn-lg btn-block" role="button" >待ち情報を登録</a>
            <a href="{% url 'matching:matched_but_still_meet' %}" class="btn btn-primary btn-lg btn-block" role="button" >まだ会っていない人</a>
            <a href="{% url 'matching:meat_but_still_eval' %}" class="btn btn-primary btn-lg btn-block" role="button" >既に会った人</a>

            </form>

          </div>
        </div>
        <div class="card-footer text-white"><a href="{% url 'matching:register' %}"></a></div>
      </div>
    </div>
  </div>

</body>

</script>
